{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        
        <div>
            <h1>{{todolist.name}}</h1>
            <a href="{% url 'update_todolist' todolist.pk%}">Edit</a> <br>
            <a href="{% url 'delete_todolist' todolist.pk%}">Delete</a>
            <h2>Tasks:</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todolist.items.all %}
                        <tr>
                            <td colspan="2"> <a href="{% url 'show_todolist' task.pk%}">{{task.task}}</a> </td> 
                            <td> {{ task.due_date}} </td>
                        </tr>
                    {% endfor %}
                </tbody>                     
            </table>
        </div>
    </main>
</body>
</html>