<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Update List</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as.p}}
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br>
                <button type="submit">Update</button>
            </form>                
        </div>
    </main>
</body>
</html>