{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'create_todolist' %}">Create a new list</a></p>
            <p><a href="{% url 'create_todoitem' %}">Create a new item</a></p>
            
            <table>
                                <thead>
                    <tr>
                        <th colspan="2">Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist_list.all %}
                        <tr>
                            <td> <a href="{% url 'show_todolist' item.pk%}">{{item.name}}</a></td> 
                            <td> {{ item.items.all|length}} </td>
                        </tr>
                    {% endfor %}
                </tbody>                     
            </table>     
        </div>
    </main>
</body>
</html>